// Open Sans
@font-face {
    font-family: 'Open Sans';
    src: url("@/assets/fonts/OpenSans-SemiBold.ttf") format("truetype")
}

// Open Sans light
@font-face {
    font-family: 'Open Sans Light';
    src: url("@/assets/fonts/OpenSans-Light.ttf") format("truetype")
}
